{% extends 'base.html.j2' %}

{% block title %}
	Research | {{ general.website_title }}
{% endblock %}

{% block top_header %}
<!-- Top Header Section -->
<section class="w3l-top-header">
	<div class="container">
		<div class="top-content-w3ls d-flex align-items-center justify-content-between">
			<div class="top-headers">
				<ul>
					<li><i class="fa fa-map-marker-alt"></i> <a href="#address">London, 235 Terry, 10001</a></li>
					<li><i class="fa fa-phone"></i> <a href="tel:+1(21)2344567">+1(21) 234 4567</a></li>
					<li><i class="fa fa-envelope"></i> <a href="mailto:mail@example.com">mail@example.com</a></li>
				</ul>
			</div>
			<div class="top-headers">
				<ul>
					<li><a href="#facebook"><span class="fab fa-facebook-f"></span></a></li>
					<li><a href="#twitter"><span class="fab fa-twitter"></span></a></li>
					<li><a href="#instagram"><span class="fab fa-instagram"></span></a></li>
					<li><a href="#linkedin"><span class="fab fa-linkedin-in"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- //Top Header Section -->
{% endblock %}

{% block content %}
<!-- Blog Banner Section -->
<section class="w3l-about-breadcrumb text-center">
	<div class="breadcrumb-bg breadcrumb-bg-about py-5">
		<div class="container py-lg-5 py-md-4">
			<div class="banner-info-grid px-md-5">
				<h2 class="w3l-title-breadcrumb mb-3">Research</h2>
				<p class="inner-page-para px-lg-5">The more we know, the more we grow.</p>
			</div>
		</div>
	</div>
</section>
<!-- //Blog Banner Section -->

<!-- Blog Post Section -->
<section class="blog-post-main blog">
	<div class="blog-content-inf py-5">
	{#
			<div class="container py-lg-5 py-md-4 py-2">
			<div class="blog-posthny-info mx-auto" style="max-width:800px">
				{% set project_info = content %}
				{% set author_info = member_data.get(project_info['author_id'], {}) %}
				{% set author_name = author_info.get('full_name', 'Unknown Author') %}
				<div class="style-title position-relative">
					<h3 class="title-style mb-sm-3 mb-2">{{ project_info.title }}</h3>
				</div>

				<!-- Author and Date -->
				<div class="single-post-image mb-4">
					<ul class="blog-author-date mt-3 d-flex align-items-center mb-4">
						{% if author_info %}
						<li class="circle avatar">
							<img src="../../members/{{ project_info.author_id }}/{{ author_info.image_path }}" class="img-fluid" alt="">
						</li>
						<li>
							{% if project_info.category == 'Software' %}
								Principal Investigator:
							{% else %}
								Article by:
							{% endif %}
							<a href="../../members/{{ project_info.author_id }}/{{ project_info.author_id }}.html" target="_blank">{{ author_name }}</a>
						</li>
						{% endif %}
						<li>{{ project_info['date'].strftime('%d %b, %Y') }}</li>
					</ul>

					<!-- Cover Image -->
					{% if 'pacman' not in project_info.title.lower() %}
					<img src="../../{{ project_info.cover_image }}" class="img-fluid img-responsive" alt="blog-post-image">
					{% endif %}
				</div>

				<!-- Content -->
				<div class="single-post-content">
					<p class="mb-4">{{ project_info.long_description }}</p>
				</div>

				<!-- Detailed Content -->
				<div class="content-text-9">
					<div class="single-post-content-1 row mt-5 no-gutters">
						{% for key, value in project_info.content.items() %}
							{% if key.endswith('img') %}
							<div class="single-post-image mb-4" style="max-width:fit-content; margin:auto;">
								<img src="../../{{ value }}" class="img-fluid img-responsive mt-3" alt="blog-post-image">
							</div>
							{% elif key.endswith('para') %}
							<div class="single-post-content">
								<p class="mt-md-0 mt-4 ml-md-4 ml-0">{{ value }}</p>
							</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>

				<!-- People Associated -->
				{% if project_info.people_involved_ids %}
				<div class="col text-center mt-5">
					<aside class="posts p-6" style="overflow-x:auto;">
						<h3 class="aside-title">People Associated</h3>
						<ul class="category">
							{% for person_id in project_info.people_involved_ids %}
								{% set member_info = member_data.get(person_id, {}) %}
								{% if member_info %}
								<li>
									<a href="../../members/{{ person_id }}/{{ person_id }}.html" target="_blank">
										<span class="fas fa-user"></span> {{ member_info.get('full_name', 'Unknown') }}
									</a>
								</li>
								{% endif %}
							{% endfor %}
						</ul>
					</aside>
				</div>
				{% endif %}

				<!-- References -->
				{% if project_info.links %}
				<div class="col text-center mt-5">
					<aside class="posts p-6">
						<h3 class="aside-title">References & Resources</h3>
						<ul class="category">
							{% for key, value in project_info.links.items() %}
								<li>
									<a href="{{ value }}" target="_blank">
										<span class="fas fa-external-link-alt"></span> {{ key }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</aside>
				</div>
				{% endif %}
			</div>
		</div>
	#}

	</div>
</section>
<!-- //Blog Post Section -->
{% endblock %}
