{% extends 'base.html.j2' %}

{% block title %}
    Research | {{ general.website_title }}
{% endblock %}


{% block additional_fonts %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&amp;display=swap" rel="stylesheet">
{% endblock %}

{% block additional_style %}
    <div id="_bsa_srv-CKYI627U_0"></div>
    <div id="_bsa_srv-CKYI653J_1"></div>
    <!-- Buttons-->
    <style>
        .button {
            padding: 15px 25px;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #7750bb;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

        .button:hover {
            background-color: #9669e5
        }

        .button:active {
            background-color: #a087cc;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        .heading {
            color: #000;
            /* Default color */
            text-decoration: none;
        }

        .heading:hover {
            background-image: linear-gradient(to left, #673ab7, #673ab7);
            /* Gradient from right to left */
            -webkit-background-clip: text;
            /* Apply gradient as text color */
            -webkit-text-fill-color: transparent;
            /* Make text transparent */
        }
    </style>
{% endblock %}

{% block content %}
    <!-- about banner -->
        <section class="w3l-about-breadcrumb text-center">
            <div class="breadcrumb-bg breadcrumb-bg-about py-5">
                <div class="container py-lg-5 py-md-4">
                    <div class="banner-info-grid px-md-5">
                        <h2 class="w3l-title-breadcrumb mb-3">Our Research</h2>
                    </div>
                </div>
            </div>
        </section>
    <!-- //about banner -->

    <!-- Blog Section -->
        <section class="w3l-blog">
            <div class="blog py-5" id="Newsblog">
            {% for item in research %}
                <div class="text-center heading" style="padding-top: 5%;">
                    <a href="sub_research/{{ item.project_id|replace(' ', '_')|lower }}.html" style="color: black;">
                        <h1>{{ item.title }}</h1>
                    </a>
                </div>
                <div class="container py-lg-5 py-md-4 py-2">
                    <div class="row">
                        {% for para in item.description %}
                            <p class="mb-4" style="padding-bottom: 3%; text-align:left; font-size: 18px;">
                            {{ para }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="container py-lg-5 py-md-4 py-2">
                    <div class="row">
                    {% if item.sub_projects %}
                        {% set counter = 0 %}
                        {% for project in item.sub_projects %}
                        <div class="col-lg-4 col-md-6 item">
                            <h2>{{project.title}}</h2>
                        </div>
                        <div class="container py-lg-5 py-md-4 py-2">
                            <div class="row">
                                {% for para in project.description %}
                                    <p class="mb-4" style="padding-bottom: 3%; text-align:left; font-size: 18px;">
                                    {{ para }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                        {% set counter = counter + 1 %}
                    {% endif %}
                    </div>
                </div>
                <pagination>
                    <div class="pagination-wrapper mt-5 pt-lg-3 text-center">
                        <ul class="page-pagination">
                            <button class="button text-center" style="max-width: 180px;"><a
                                    href="sub_research/{{ item.project_id|replace(' ', '_')|lower }}.html"
                                    style="color: white;">More articles</a></button>
                        </ul>
                    </div>
                </pagination>
            {% endfor %}
            </div>
        </section>

    <!-- //Blog Section -->
{% endblock %}