{% extends 'base.html.j2' %}

{% block title %}
    Research | {{ general.website_title }}
{% endblock %}

{% block additional_fonts %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&amp;display=swap" rel="stylesheet">
{% endblock %}

{% block additional_style %}
    <div id="_bsa_srv-CKYI627U_0"></div>
    <div id="_bsa_srv-CKYI653J_1"></div>
    <!-- Buttons-->
    <style>
        .button {
            padding: 15px 25px;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #7750bb;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

        .button:hover {
            background-color: #9669e5
        }

        .button:active {
            background-color: #a087cc;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        .heading {
            color: #000;
            /* Default color */
            text-decoration: none;
        }

        .badge {
            display: inline-block;
            background-color: #673ab7; /* Background color of the badge */
            color: white;          /* Text color */
            padding: 4px 8px;     /* Padding around the text */
            border-radius: 5px;   /* Rounded corners *
            text-align: center;    /* Center the text */
        }

        .badge-tray {
            display: flex;
            gap: 5px;
            margin-bottom: 10px;
            overflow: auto;
            overflow-x: auto;
        }
        .heading:hover {
            background-image: linear-gradient(to left, #673ab7, #673ab7);
            /* Gradient from right to left */
            -webkit-background-clip: text;
            /* Apply gradient as text color */
            -webkit-text-fill-color: transparent;
            /* Make text transparent */
        }
    </style>
{% endblock %}

{% block content %}
    <!-- about banner -->
        <section class="w3l-about-breadcrumb text-center">
            <div class="breadcrumb-bg breadcrumb-bg-about py-5">
                <div class="container py-lg-5 py-md-4">
                    <div class="banner-info-grid px-md-5">
                        <h2 class="w3l-title-breadcrumb mb-3">Our Research</h2>
                    </div>
                </div>
            </div>
        </section>
    <!-- //about banner -->

    <!-- Blog Section -->
        <section class="w3l-blog">
            <div class="blog py-5" id="Newsblog">
                <div class="text-center" style="padding-top: 5%;">
                    <h1>{{ data.title }}</h1>
                    <br>
                    <div class="container py-lg-5 py-md-4 py-2">
                        <div class="row">
                        {% for content_key, content_value in data.description.items() %}
                            {%if "para" in content_key%}
                            <p class="mb-4" style="text-align:left; font-size: 18px;">
                            {{ content_value }}
                            </p>
                            {% elif "img" in content_key%}
                            <figure class="single-post-image mb-4" style="max-width:fit-content; width:60%; display: block; margin: auto;">
                                <img src="{{ content_value.src }}" class="img-fluid img-responsive mt-3" alt="blog-post-image">
                                <figcaption class="text-center mt-2" style="font-size: 12px;">{{content_value.caption}}</figcaption>
                            </figure>
                            {%endif%}
                        {%endfor%}
                        </div>
                    </div>
                    {#
                    <div class="col-lg-10 right-side-bar mt-lg-0 mt-5 ps-lg-5" style="padding-top: 5%;">
                        <div class="row">
                            {% if data.team%}
                            <div class="col text-center">
                                <aside class="posts p-6" style="overflow-x: scroll;">
                                    <h3 class="aside-title">People Associated</h3>
                                    <ul class="category">
                                        <li>
                                        {% for person_id in data.team %}
                                        {% if person_id in member_data %}

                                            {% set member_info = member_data[person_id] %}

                                            {% set member_name = member_info.get('full_name') %}
                                            <a href="../members/{{ person_id }}/{{ person_id }}.html" target="_blank"
                                                style="font-size: 15px; display: inline;">
                                                <span class="fas fa-user"></span> {{ member_name.strip().split(" ")[0] }}
                                            </a>
                                            
                                        {% elif person_id.strip().split(' ')[-1].strip().lower().startswith("http://") or person_id.strip().split(' ')[-1].strip().lower().startswith("https://") %}
                                            <a href="{{ person_id.strip().split(' ')[-1] }}" target="_blank" style="font-size: 15px;  display: inline;">
                                                <span class="fas fa-external-link-alt"></span>{{ person_id.strip().split(' ')[0] }}
                                            </a>
                                        {% else %}
                                            {{ person_id }}
                                        {% endif %}										
                                        {% endfor %}
                                        </li>
                                    </ul>
                                </aside>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                                        #}

                </div>
                <div class="container py-lg-5 py-md-4 py-2">
                    <div class="row">
                        {% set counter = 0 %}
                        {% if data['sub_research'] | length > 0%}
                        <h2 style="padding-bottom: 30px;">Projects</h2>
                        {% for sub_research_id in data['sub_research'] %}
                            {% if sub_research_id in indexed_research_df.index %}
                                {% set sub_research = indexed_research_df.loc[sub_research_id]%}
                                    {% if counter < 3 %}
                                        <div class="col-lg-4 col-md-6 item">
                                            <div class="card">
                                                <div class="card-header p-0 position-relative">
                                                    <a href="kerzendorf-lab.github.io/{{sub_research.url }}"
                                                        class="zoom d-block">
                                                        <img style="max-width: 380px; max-height: 230px;" class="card-img-bottom d-block"
                                                            src="{{ sub_research_id }}/{{ sub_research.cover_image }}" alt="array">
                                                    </a>
                                                </div>
                                                <div class="card-body blog-details">
                                                        <div class="heading">
                                                            <a href="/{{ sub_research.url }}">
                                                            <h5 class="mb-3"
                                                                    style="height: 50px; overflow: hidden; display: flex; align-items: center; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; ">
                                                                    {{ sub_research.title }}
                                                                </h5>
                                                            </a>
                                                        </div>
                                                        <hr style="border-top: 1px dotted rgba(143, 143, 143);">
                                                        <div class="price-review mb-1 align-items-center" style="height: 80px;">
                                                        <p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                                                            {% set found_para_key = false %}
                                                            {% for content_key, content_value in sub_research.description.items() %}
                                                                {% if "para" in content_key and not found_para_key %}
                                                                    {{ content_value }}
                                                                    {% set found_para_key = true %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </p>
                                                        </div>
                                                </div>
                                                {#
                                                <div class="card-footer">
                                                    {% set author_id = writeup.author_id %}
                                                    {% if author_id in current_members%}
                                                        {% set member = current_members[author_id]%}
                                                        {% set author_name = member['full_name'] %}
                                                        <div class="author align-items-center">
                                                            <a href="../members/{{ author_id }}/{{ author_id }}.html" class="post-author" target="_blank">
                                                                <img src="../members/{{ author_id }}/{{ member['image_path'] }}" alt="Author's Image" class="img-fluid rounded-circle">
                                                            </a>
                                                            <ul class="blog-meta">
                                                                <li>
                                                                    <span class="meta-value">Article by </span>
                                                                    <a href="../members/{{ author_id }}/{{ author_id }}.html" target="_blank">{{ author_name }}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                #}
                                            </div>
                                        </div>
                                        {% set counter = counter + 1 %}
                                {% endif %}
                            {%endif%}
                        {% endfor %}
                        {%endif%}
                    </div>
                </div>
                <div class="container py-lg-5 py-md-4 py-2">
                    <div class="row">
                        {% set counter = 0 %}
                        {% if data['news_articles'] | length > 0 %}
                            <h2 style="padding-bottom: 30px;">News Updates</h2>
                            {% for article_id in data['news_articles'] %}
                                {% set article = indexed_article_df.loc[article_id] %}
                                {% if counter < 3 %}
                                    <div class="col-lg-4 col-md-6 item">
                                        <div class="card">
                                            <div class="card-header p-0 position-relative">
                                                <a class="zoom d-flex" href="../../news/{{ article_id|lower }}.html">
                                                    <img style="max-width: 380px; max-height: 230px;" class="card-img-bottom d-block"
                                                        src="{{ article.cover_image }}" alt="article image">
                                                </a>
                                            </div>
                                            <div class="card-body blog-details" style="max-height: 330px">
                                                <div class='badge-tray'>
                                                    {% if article.research_id != current_research_id %}
                                                    {% set tag = article.research_id.replace('_', ' ').title() %}
                                                    <span class="badge">{{tag}}</span>
                                                    {%endif%}
                                                </div>
                                                <a class="zoom d-flex" href="/news/{{ article_id|lower }}.html">
                                                    <h5 class="mb-3"
                                                        style="height: 50px; overflow: hidden; display: flex; align-items: center; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
                                                        {{ article.title }}
                                                    </h5>
                                                </a>
                                                <hr style="border-top: 1px dotted rgba(143, 143, 143);">
                                                <div class="price-review mb-1 align-items-center" style="height: 80px;">
                                                    <p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                                                        {% set found_para_key = false %}
                                                        {% if article.content.keys()|length > 0 %}
                                                        {% for content_key, content_value in article.content.items() %}
                                                            {% if "para" in content_key and not found_para_key %}
                                                                {{ content_value }}
                                                                {% set found_para_key = true %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        {%endif%}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% set counter = counter + 1 %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    <!-- //Blog Section -->
{% endblock %}
